[Unit]
Description=MQTT to Postgres Bridge (Poetry)
After=network.target

[Service]
Type=simple
User=__USERNAME__
EnvironmentFile=__SERVER_DIR__/.env
WorkingDirectory=__SERVER_DIR__
ExecStart=__SERVER_DIR__/.venv/bin/python -u mqtt_postgres_bridge.py
Restart=always

[Install]
WantedBy=multi-user.target