[Unit]
Description=Prepare data for webpage

[Service]
Type=oneshot
User=__USERNAME__
EnvironmentFile=__SERVER_DIR__/.env
WorkingDirectory=__SERVER_DIR__
ExecStart=__SERVER_DIR__/.venv/bin/python summarizer.py