[Unit]
Description=Run summarizer.py every 5 minutes (offset by 3 minutes (3 > 2.5))

[Timer]
OnCalendar=*:03,08,13,18,23,28,33,38,43,48,53,58
Persistent=true

[Install]
WantedBy=timers.target