[Unit]
Description=Websocket service for climate monitor website
After=network.target

[Service]
Type=simple
User=__USERNAME__
EnvironmentFile=__SERVER_DIR__/.env
WorkingDirectory=__SERVER_DIR__
ExecStart=__SERVER_DIR__/.venv/bin/python websocket_server.py
Restart=always

[Install]
WantedBy=multi-user.target